.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.hero_video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero img {
    position: absolute;
    top: 50%;
    /* Центрируем изображение */
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1196px;
    /* Настроить размер */
    z-index: 2;
    /* Убедитесь, что оно выше видео */
}