.section_body {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.body_pct {
    position: relative;
    display: inline-block;

}

.body_pct img {
    display: block;
    width: 100%;
    max-width: 853px;
    height: auto;
}

.picture_body {
    width: 853px;
    height: 449px;
}


.title_body {
    position: absolute;
    top: -120px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 200px;
    line-height: 1.2;
    white-space: nowrap;
    letter-spacing: -0.03em;
    text-align: center;
    position: absolute;
    right: -200%;
    animation: moveLeft 15s linear infinite;
    color: black;


}

.contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 113px;

}

.title_contacts {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: -0.01em;
    text-align: center;
    color: #000;
}

.contacts button {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    color: #000000;

}

.btn {
    margin-left: auto;
    padding-right: 89px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.63636;
    letter-spacing: -0.01em;
    color: #000;

}





@keyframes moveLeft {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-290%);

    }
}