.section_body {
    padding-top: 251px;
    padding-bottom: 111px;

}

.body_pct {
    position: relative;
    display: flex;
    justify-content: center;

}

/* .body_pct img {
    display: block;
    width: 100%;
    max-width: 853px;
    height: auto;
} */

.picture_body {
    width: 853px;
    height: 449px;
}


.title_body {
    position: absolute;
    top: -120px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 200px;
    line-height: 1.2;
    white-space: nowrap;
    letter-spacing: -0.03em;
    text-align: center;
    position: absolute;
    animation: moveLeft 15s linear infinite;
    color: black;


}

.contacts {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 113px;

}

.title_contacts {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: -0.01em;
    text-align: center;
    color: #000;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.btn {
    margin-left: auto;
    padding-right: 89px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.63636;
    letter-spacing: -0.01em;
    color: #000;

}



/* 

@keyframes moveLeft {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
} */