.header_body {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    padding: 0 20px;
}


.img {
    position: absolute;
    left: 20px;
    display: flex;
    align-items: center;
    height: 100%;
}

.img img {
    width: 74px;
    height: 47px;
}


.header_btn {
    display: flex;
    gap: 10px;

}

.header_btn button {

    font-size: 16px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    border: none;
    outline: none;
}

.translete_header {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.66667;
    letter-spacing: -0.01em;
    color: #000;
}