.header_body {
    position: sticky;
    top: 0;

    /* width: 1680px; */
    width: 100%;
    z-index: 100;
    height: 60px;
    display: flex;
    background: white;
}

.img {
    width: 74px;
    height: 47px;
    padding-top: 8px;
    padding-bottom: 5px;
    padding-left: 86px;
}