#root {}

body {
  /* width: 1680px;
  height: 4747px; */
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

address {
  font-style: normal;
}

a {
  font-family: inherit;
  color: currentColor;
  text-decoration: none;
  margin: 0;
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  outline: none;
}

section {

  position: relative;
  width: 100%;
  height: 100vh;
}

/* 
#progress-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 6px;
  background: #ddd;
  z-index: 1000;
}

#progress-bar {
  height: 100%;
  width: 0%;
  background: linear-gradient(90deg, #4facfe, #00f2fe);
  transition: width 0.3s ease;
}

.section {
  height: 100vh;
} */